{
  "env": {
    "local": {
      "db": "http://127.0.0.1:5984/asdproject"
  },
  "cloudant": {
      "db": "https://ousestrataindstiffessome:JewtujJBmB7yu40NgsTAhSBM@kyler.cloudant.com/asdproject"
    }
  }
}